.pdf-container {
    text-align: center;
    background: linear-gradient(to right, #4D93EB, #7A51DD);
    padding: 10px;
    padding-bottom: 30px;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 55%;
    margin-bottom: 50px;
    border-radius: 10px;
}

.pdf-container h3 {
    color: white;
}

.myPDF {
    border-radius: 10px;
    width: 90%;
    height: 800px;
}

/* CSS */
.verify-button {
    justify-content: center;
    background-color: rgb(0, 128, 0, 0.8);
    border: 5px;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin: 0 10px;
}

.verify-button:active,
.verify-button:hover {
    outline: 0;
    background-color: rgba(38, 173, 207, 0.8);
}

.verify-button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.verify-button:hover span {
    background: none;
}

.reject-button {
    background-color: rgb(255, 0, 0, 0.8);
}

@media (min-width: 768px) {
    .verify-button {
        font-size: 24px;
        min-width: 196px;
    }
}

.verify-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.eye-icon {
    cursor: pointer;
    color: #ba4ff8;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.eye-icon:hover {
    color: #9a4ff8;
}

.eye-icon:active {
    color: #7a4ff8;
}

body {
    background-color: #131313;
}

.id-column {
    width: 100px;
    /* Adjust as needed */
}

.button-container {
    display: flex;
    justify-content: center;
}

.previous-next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.pagination {
    background-color: #7A51DD;
}

.button-content {
    display: flex;
    align-items: center;
}

.button-content span {
    margin-left: 5px;
}

.fa-angles-right {
    margin-left: 5px;
}

.fa-angles-left {
    margin-left: 5px;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.table-container .table-bordered {
    width: 100%; /* Make the table take up the full width of its container */
    border-spacing: 0; /* Remove the default spacing around the table */
    border-collapse: collapse; /* Collapse the table borders into a single border */
  }