.pseudo-navbar {
    background-color: #EDE7F6;
    background-image: url('https://cdn.dribbble.com/users/1770290/screenshots/6183149/bg_79.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #7A26C1;
    height: 450px;
    font-family: 'Righteous', sans-serif;
}

body {
    background-color: black;
}

.custom-card {
    background-color: #15171a; /* Change this to your desired dark color */
    color: #ffffffb4;
}