.pseudo-navbar {
    background-color: #EDE7F6;
    background-image: url('https://cdn.dribbble.com/users/1770290/screenshots/6183149/bg_79.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #7A26C1;
    height: 510px;
    font-family: 'Righteous', sans-serif;
}
.pseudo-navbar-register {
    background-image: url('https://cdn.dribbble.com/users/1770290/screenshots/6183149/bg_79.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 650px;
    font-family: 'Righteous', sans-serif;
}

body {
    background-color: black;
}

.custom-card {
    background-color: #15171a;
    color: #ffffffb4;
}

.card.custom-card {
    transition: all 0.3s ease;
}

.card.custom-card:hover {
    box-shadow: 0 0 20px 5px rgba(80, 23, 172, 0.8); /* This will make the card shine more noticeably */
    transform: scale(1.05); /* This will make the card come forward a little */
}

.formManual {
    background-color: #7A26C1;
    background: linear-gradient(to right, rgb(32, 32, 252), rgb(125, 38, 165));
    background-image: url('https://cdn.dribbble.com/users/1770290/screenshots/6183149/bg_79.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Righteous', sans-serif;
}

.table-bordered {
    width: 90%;
    margin: auto;
    color: #C9C9C9;
    margin-top: 20px;
    margin-bottom: 25px;
    border-left: none;
    border-right: none;
    padding: 4px;
}

.table-bordered th,
.table-bordered td {
    border-left: none;
    border-right: none;
    padding: 6px;
}
.table-bordered td {
    background-color: #222222;
}
.table-bordered th {
    background-color: #3a4e70;
    color: white;
}
.homeButton {
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin-top: 35px;
    margin-bottom: 35px;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .homeButton:hover,
  .homeButton:focus {
    background-color: #b3d3ea;
    color: #2c5777;
  }
  
  .homeButton:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
  .homeButton:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
  }

.backButton {
  background-color: #1f1f1f;
  border: 1px solid rgb(58, 39, 129);
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #5f5f5f;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 2 12px 2 14px;
  position: relative;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 175px;
}

.backButton:hover {
  background-color: #383838;
  color: white;
}

.backButton:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
