.pseudo-navbar {
    background-color: #EDE7F6;
    background-image: url('https://cdn.dribbble.com/users/1770290/screenshots/6183149/bg_79.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #7A26C1;
    height: 510px;
    font-family: 'Righteous', sans-serif;
}
.pseudo-navbar-register {
    background-image: url('https://cdn.dribbble.com/users/1770290/screenshots/6183149/bg_79.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 650px;
    font-family: 'Righteous', sans-serif;
}

body {
    background-color: black;
}

.custom-card {
    background-color: #15171a;
    color: #ffffffb4;
}

.card.custom-card {
    transition: all 0.3s ease;
}

.card.custom-card:hover {
    box-shadow: 0 0 20px 5px rgba(80, 23, 172, 0.8); /* This will make the card shine more noticeably */
    transform: scale(1.05); /* This will make the card come forward a little */
}

.formManual {
    background-color: #7A26C1;
    background: linear-gradient(to right, rgb(32, 32, 252), rgb(125, 38, 165));
    background-image: url('https://cdn.dribbble.com/users/1770290/screenshots/6183149/bg_79.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Righteous', sans-serif;
}

