.map-styles svg {
    background-color: #131313;
}

.worldmap__figure-container {
    background-color: #131313 !important;
    margin-bottom: 30px;
    width: 60%;

}

@media (max-width: 600px) {
    .map-styles {
        display: none;
    }
}

@media (max-width: 600px) {
    .divdivdiv {
        display: none;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .card-parent-container {
        justify-content: center;
    }

    .custom-col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .custom-col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .custom-col {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

/* Large devices (desktops, 992px to 1304.98px) */
@media (min-width: 992px) and (max-width: 1304.98px) {
    .custom-col {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

/* Large devices (desktops, 1305px and up) */
@media (min-width: 1305px) {
    .custom-col {
        flex: 0 0 20%;
        max-width: 20%;
    }
}
.card-parent-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
