.map-styles svg {
    background-color: #131313;
}

.worldmap__figure-container {
    background-color: #131313 !important;
    margin-bottom: 30px;
}

@media (max-width: 750px) {
    .map-styles {
        display: none;
    }
}
