.submitSalaryNav {
    font-family: 'Righteous', sans-serif;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle:hover {
    cursor: pointer;
}

.avatar-circle {
    border: 4px solid transparent;
}

.avatar-circle:hover {
    border-color: #414141;
}

.avatar-dropdown {
    background-color: #292929;
    border-radius: 10px;
}

.avatar-dropdown:hover {
    background-color: #292929;
}

.logoutButton {
    background-color: black;
    margin-right: 5px;
    color: white;
    padding: 20px;
    border-radius: 30px;
}

.logoutButton:hover {
    background-color: rgb(63, 18, 100);
    color: white;
}

.dropdown-item:hover {
    background-color: #292929 !important;
}

.navbar-container {
    display: flex;
    align-items: center;
}

.language-selector {
    position: relative;
    margin-right: 15px;
    /* Adjust the margin as needed */
}

.selected-language {
    cursor: pointer;
}

.dropdown-language {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #292929;
    color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.option {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.selected {
    background-color: #292929;
}

@media (max-width: 409px) {
    .email-navbar {
        display: none;
    }
    
}

@media (max-width: 767px) {
    .logo {
        display: none;
    }
}